# Project exclude paths
/tracker.js
/node_modules/.bin/acorn
/node_modules/.bin/glob
/node_modules/.bin/node-which
/node_modules/.bin/nodemon
/node_modules/.bin/nodetouch
/node_modules/.bin/nopt
/node_modules/.bin/prettier
/node_modules/.bin/rimraf
/node_modules/.bin/semver
/node_modules/.bin/ts-node
/node_modules/.bin/ts-node-cwd
/node_modules/.bin/ts-node-esm
/node_modules/.bin/ts-node-script
/node_modules/.bin/ts-node-transpile-only
/node_modules/.bin/ts-script
/node_modules/@cspotcode/source-map-support/browser-source-map-support.js
/node_modules/@cspotcode/source-map-support/LICENSE.md
/node_modules/@cspotcode/source-map-support/package.json
/node_modules/@cspotcode/source-map-support/README.md
/node_modules/@cspotcode/source-map-support/register.d.ts
/node_modules/@cspotcode/source-map-support/register.js
/node_modules/@cspotcode/source-map-support/register-hook-require.d.ts
/node_modules/@cspotcode/source-map-support/register-hook-require.js
/node_modules/@cspotcode/source-map-support/source-map-support.d.ts
/node_modules/@cspotcode/source-map-support/source-map-support.js
/node_modules/@isaacs/cliui/build/lib/index.js
/node_modules/@isaacs/cliui/build/index.cjs
/node_modules/@isaacs/cliui/build/index.d.cts
/node_modules/@isaacs/cliui/node_modules/ansi-regex/index.d.ts
/node_modules/@isaacs/cliui/node_modules/ansi-regex/index.js
/node_modules/@isaacs/cliui/node_modules/ansi-regex/license
/node_modules/@isaacs/cliui/node_modules/ansi-regex/package.json
/node_modules/@isaacs/cliui/node_modules/ansi-regex/readme.md
/node_modules/@isaacs/cliui/node_modules/strip-ansi/index.d.ts
/node_modules/@isaacs/cliui/node_modules/strip-ansi/index.js
/node_modules/@isaacs/cliui/node_modules/strip-ansi/license
/node_modules/@isaacs/cliui/node_modules/strip-ansi/package.json
/node_modules/@isaacs/cliui/node_modules/strip-ansi/readme.md
/node_modules/@isaacs/cliui/index.mjs
/node_modules/@isaacs/cliui/LICENSE.txt
/node_modules/@isaacs/cliui/package.json
/node_modules/@isaacs/cliui/README.md
/node_modules/@jridgewell/resolve-uri/dist/types/resolve-uri.d.ts
/node_modules/@jridgewell/resolve-uri/dist/resolve-uri.mjs
/node_modules/@jridgewell/resolve-uri/dist/resolve-uri.mjs.map
/node_modules/@jridgewell/resolve-uri/dist/resolve-uri.umd.js
/node_modules/@jridgewell/resolve-uri/dist/resolve-uri.umd.js.map
/node_modules/@jridgewell/resolve-uri/LICENSE
/node_modules/@jridgewell/resolve-uri/package.json
/node_modules/@jridgewell/resolve-uri/README.md
/node_modules/@jridgewell/sourcemap-codec/dist/types/sourcemap-codec.d.ts
/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.mjs
/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.mjs.map
/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.umd.js
/node_modules/@jridgewell/sourcemap-codec/dist/sourcemap-codec.umd.js.map
/node_modules/@jridgewell/sourcemap-codec/LICENSE
/node_modules/@jridgewell/sourcemap-codec/package.json
/node_modules/@jridgewell/sourcemap-codec/README.md
/node_modules/@jridgewell/trace-mapping/dist/types/any-map.d.ts
/node_modules/@jridgewell/trace-mapping/dist/types/binary-search.d.ts
/node_modules/@jridgewell/trace-mapping/dist/types/by-source.d.ts
/node_modules/@jridgewell/trace-mapping/dist/types/resolve.d.ts
/node_modules/@jridgewell/trace-mapping/dist/types/sort.d.ts
/node_modules/@jridgewell/trace-mapping/dist/types/sourcemap-segment.d.ts
/node_modules/@jridgewell/trace-mapping/dist/types/strip-filename.d.ts
/node_modules/@jridgewell/trace-mapping/dist/types/trace-mapping.d.ts
/node_modules/@jridgewell/trace-mapping/dist/types/types.d.ts
/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.mjs
/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.mjs.map
/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.umd.js
/node_modules/@jridgewell/trace-mapping/dist/trace-mapping.umd.js.map
/node_modules/@jridgewell/trace-mapping/LICENSE
/node_modules/@jridgewell/trace-mapping/README.md
